.drag_area--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.drag_area {
  border: 3px dashed var(--border-color);
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  background-color: var(--background-color-accent);
}
.drag_area p {
  color: var(--border-color);
  font-size: var(--fs-p);
}
.drag_area i {
  font-size: var(--fs-h1);
  color: var(--border-color);
}
.drag_area--active {
  background-color: #b3ecff;
}

.preview-image {
  width: 100px;
  max-height: 130px;
}
