*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-primary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-color-accent: #7900ff;
  --font-color-primary: #548cff;

  --fs-h1: 3rem;
  --fs-p: 1.5rem;

  --background-color-primary: #f9fafa;
  --background-color-secondary: #93ffd8;
  --background-color-accent: #f0f0f0;

  --border-color: #aaaaaa;
}
body {
  background-color: var(--background-color-primary);
}
